@page "/carts/details"
@using Microsoft.EntityFrameworkCore
@using BookNook.Domain
@inject IDbContextFactory<BookNook.Data.BookNookContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Cart</h2>
    <hr />
    @if (cart is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">DateAdded</dt>
            <dd class="col-sm-10">@cart.DateAdded</dd>
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@cart.UserId</dd>
            <dt class="col-sm-2">ItemId</dt>
            <dd class="col-sm-10">@cart.ItemId</dd>
        </dl>
        <div>
            <a href="@($"/carts/edit?id={cart.Id}")">Edit</a> |
            <a href="@($"/carts")">Back to List</a>
        </div>
    }
</div>

@code {
    private Cart? cart;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        cart = await context.Cart.FirstOrDefaultAsync(m => m.Id == Id);

        if (cart is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
