@page "/orderdetails/details"
@using Microsoft.EntityFrameworkCore
@using BookNook.Domain
@inject IDbContextFactory<BookNook.Data.BookNookContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>OrderDetails</h2>
    <hr />
    @if (orderdetails is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Quantity</dt>
            <dd class="col-sm-10">@orderdetails.Quantity</dd>
            <dt class="col-sm-2">TotalPrice</dt>
            <dd class="col-sm-10">@orderdetails.TotalPrice</dd>
            <dt class="col-sm-2">OrderId</dt>
            <dd class="col-sm-10">@orderdetails.OrderId</dd>
            <dt class="col-sm-2">ItemId</dt>
            <dd class="col-sm-10">@orderdetails.ItemId</dd>
        </dl>
        <div>
            <a href="@($"/orderdetails/edit?id={orderdetails.Id}")">Edit</a> |
            <a href="@($"/orderdetails")">Back to List</a>
        </div>
    }
</div>

@code {
    private OrderDetails? orderdetails;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        orderdetails = await context.OrderDetails.FirstOrDefaultAsync(m => m.Id == Id);

        if (orderdetails is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
