@page "/items/details"
@using Microsoft.EntityFrameworkCore
@using BookNook.Domain
@inject IDbContextFactory<BookNook.Data.BookNookContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Item</h2>
    <hr />
    @if (item is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@item.Name</dd>
            <dt class="col-sm-2">Type</dt>
            <dd class="col-sm-10">@item.Type</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@item.Description</dd>
            <dt class="col-sm-2">Price</dt>
            <dd class="col-sm-10">@item.Price</dd>
            <dt class="col-sm-2">Stock</dt>
            <dd class="col-sm-10">@item.Stock</dd>
        </dl>
        <div>
            <a href="@($"/items/edit?id={item.Id}")">Edit</a> |
            <a href="@($"/items")">Back to List</a>
        </div>
    }
</div>

@code {
    private Item? item;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        item = await context.Item.FirstOrDefaultAsync(m => m.Id == Id);

        if (item is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
